/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 avr. 2022, 10:42:50
    Author     : aliou
*/

 body{
                            
         background-image: url('/image/crossfit_16.jpg');	
       }
footer{
    	background-color:burlywood ;
        top:200px;
        right: 10px;  
 	}

div{          
         color: greenyellow;
    }        
        