/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 avr. 2022, 10:42:50
    Author     : aliou
*/
@charset "UTF-8";
body{
                margin: 0;
                padding: 0;
             
                background: linear-gradient(200deg, #ee7592, #e74c7e, #23a6d5, #29d5ab);
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
                height: 100vh;
                }

                .login_c{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 400px;
                    height: 400px;
                    background: whitesmoke;
                    text-align: center;
                    border-radius: 15px;
                    
                }
                .login_c h2{
                    
                    text-align: center;
                    padding: 0 0 20px 0;
                    border-bottom:  1px solid silver;
                    font-size: 30px;
                }
                
                form input_text1{
                    position: relative;
                    border-bottom: 2px solid #adadad;
                    margin: 10px 0;
                    
                }
                
                input[type="submit"]{
                    
                    width:50%;
                    height: 50px;
                    border:1px solid;
                    background: #23a6d5;
                    border-radius: 25px;
                    font-size: 18px;
                    color: #ffffff;
                    font-weight: 800;
                }
               
                p{
                    
                    font-family: sans-serif;
                    font-size: 16px;
                } 


      
        