/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 avr. 2022, 10:42:50
    Author     : aliou
*/
@charset "UTF-8";
div{          
         color: greenyellow;
    }  

      
        