<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head lang="en" xmlns:th="http://www.thymlea.org">
        <title>TODO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p> URL INVALIDE </P>
        <div th:each="item:${usermsg}"> 
            
            <b>Sport    :</b>  &nbsp <p th:text="${item.message}"></p>
            <b>conçu par:</b> &nbsp <p th:text="${item.author}"></p>
            <b>DATE     :</b> &nbsp <p th:text="${item.timeStamp}"></P>
          
        </div>
    </body>
</html>
